<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">Home</a></li>
  <li><a href="guidance.html">Guidance</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Background<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="TerminologyDistribution.html">Terminology Distribution</a>
      </li>
      <li>
        <a href="FhirLimitations.html">FHIR Limitations</a>
      </li>
      <li>
        <a href="TinkarOverview.html">Tinkar Overview</a>
      </li>
    </ul>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Use Cases<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="ChangeSetUseCase.html">Change Set Exchange</a>
      </li>
    </ul>
  </li>
  <li><a href="artifacts.html">FHIR Artifacts</a></li>
  <li><a href="downloads.html">Downloads</a></li>
  <li><a href="changes.html">Change Log</a></li>
</ul>      
