<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">Home</a></li>
  <li><a href="guidance.html">Guidance</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Background<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="TerminologyDistribution.html">Terminology Distribution</a>
      </li>
      <li>
        <a href="FhirLimitations.html">FHIR Limitations</a>
      </li>
    </ul>
  </li>
  <li><a href="artifacts.html">FHIR Artifacts</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Tinkar Reference Model<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="TinkarBackground.html">Tinkar Background</a>
      </li>
      <li>
        <a href="TinkarOverview.html">Tinkar Overview</a>
      </li>
      <li>
        <a href="TinkarModelConcepts.html">Tinkar Model Concepts</a>
      </li>
      <li>
        <a href="TinkarBusinessRequirements.html">Tinkar Business Requirements</a>
      </li>
      <li>
        <a href="protobufbackground.html">Protobuf Native Representation</a>
      </li>
      <li>
        <a href="protobufschema.html">Protobuf Schema</a>
      </li>
      <li>
        <a href="protobufexamples.html">Protobuf Examples</a>
      </li>
      <li>
        <a href="tinkartofhir.html">Transform to FHIR</a>
      </li>
    </ul>
  </li>
  <li><a href="downloads.html">Downloads</a></li>
  <li><a href="changes.html">Change Log</a></li>
</ul>      
